/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my stuffs */
a, p, h1, h2, h3, h4, h5, h6, li {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

pre {
	font-family: 'Inconsolata', ;
}

* {
	line-height: 1.5;
	box-sizing: border-box;
}

img {
	background: #fff;
	padding: 8px;
	box-shadow: 1px 1px 1px #d1d1d1;
	-webkit-box-shadow: 1px 1px 1px #d1d1d1;
	-moz-box-shadow: 1px 1px 1px #d1d1d1;
}

img:hover {
	opacity: 0.95;
}

pre {
	line-height: 1.5;
	font-size: 1em;
	margin: 1em 0;
	padding: 1em;
	overflow: auto;
	width: auto;
	color: #eee;
	background-color: #333;
}

.background {
	/* background-color: #BF9B6A; */
	/* background-image: url('../images/school.png'); */
	background-image: url('../images/k1.jpg');
	/* background-image: url('../images/k2.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.container {
	margin: 1em 0;
}

.banner {
	padding: 1em;
	text-align: center;
}

.banner h1 a {
	font-size: 5em;
	color: #333;
}

.banner h1 a:hover {
	text-decoration: underline;
}

.main_content {
	border-top: 15px solid #333;
	border-bottom: 15px solid #333;
	/* background-color: #F0EDEE; */
	background-color: rgba(240, 237, 238, .75); 
	padding: 1.5em !important;
}

.post_display {
	background-color: #f9f9f9;
	margin-bottom: 1em;
	
	padding: 1em !important;
	
	
	/* border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px; */
	
	box-shadow: 0px 1px 0px #ccc;
	-webkit-box-shadow: 0px 1px 0px #ccc;
	-moz-box-shadow: 0px 1px 0px #ccc;
}

.post_display img:hover {
	cursor: pointer;
}

.read_more {
	margin: 1em 0;
}

.read_more a {
	line-height: 1.5;
	font-size: 1.25em;
	color: #333;
}

.read_more a:hover {
	text-decoration: underline;
}

.post_header {
	margin: 1em 0;
}
.post_header h2 {
	text-align: left;
	font-size: 3em;
	color: #333;
	display: inline;
}
.post_header a{
	text-align: left;
	font-size: 1em;
	color: #333;
	display: inline;
}

.post_header a:hover {
	text-decoration: underline;
}

.post_image {
	margin-bottom: 1em;
}

.post_image img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 400px;
}

.post_date {
	margin: 1em 0;
}

.post_date a {
	color: #333;
}

.post_date a:hover {
	text-decoration: underline;
}

.post_date ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post_date li {
	display: inline;
	color: #333;
	font-size: 1.25em;
	line-height: 1.5;
	border-left: 1px solid #333;
	padding: 0 1em;
}

.post_date li:first-child {
	border: none;
	padding: 0;
	padding-right: 1em;
}

.post_date p {
	color: #333;
	font-size: 1.25em;
	line-height: 1.5;
}

.post_text {
	margin-bottom: 1em;
}

.post_text img {
	width: 100%;
	margin: 1em 0;
}

.post_text p {
	padding-left: 0.75em;
	border-left: 3px solid #0075A2;
	color: #333;
	line-height: 1.5;
	font-size: 1.25em;
	text-align: justify;
	width: 100%;
}

.post_text h3 {
	line-height: 1.5;
	margin: 0.5em 0;
	font-size: 1.75em;
	color: #333;
}

.sidebar {
	margin-bottom: 1em;
}

.sidebar p {
	border-top: 15px solid #333; 
	/* background-color: #DDE9F6; */
	background-color: #fff;
	font-size: 1em;
	line-height: 1.5;
	text-align: justify;
	padding: 8px;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	
	/* box-shadow: 1px 1px 1px #d1d1d1;
	-webkit-box-shadow: 1px 1px 1px #d1d1d1;
	-moz-box-shadow: 1px 1px 1px #d1d1d1; */
	
}

.sidebar a {
	color: #333;
	text-decoration: none;
}

.sidebar a:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.misc_index {
	padding: 0 !important;
}

.misc_index a {
	padding: 0.5em; 
	margin: 0 auto;
	display: block;
	background-color: #0075A2;
	text-align: center;
	line-height: 1.5;
	font-size: 1em;
	text-decoration: none;
	color: #F0EDEE;
}

.misc_index a:hover {
	/* box-shadow: 3px 3px 0 #ccc; */
	opacity: 0.95;
}

.misc a {
	padding: 0.5em; 
	margin: 0 auto;
	display: block;
	background-color: #0075A2;
	text-align: center;
	line-height: 1.5;
	font-size: 1em;
	text-decoration: none;
	color: #F0EDEE;
}

.misc a:hover {
    /* box-shadow: 3px 3px 0 #ccc; */
	opacity: 0.95;
}

.footer {
	line-height: 1.5;
	padding: 2em !important;
	text-align: center;
}

.footer p, a {
	color: #777;
	text-decoration: none;
}

.footer li {
	display: inline;
}

.footer a:hover {
	color: #F0EDEE;
	text-decoration: underline;
}

/* COOL STUFF RIGHTY HERE! */
.blueStyle {
	text-decoration: underline;
	color: #0075A2;
}

.fa {
	color: #0075A2;
}

/*HR STYLEZ */
.style_1 {
	background-color: #0075A2;
	opacity: 0.2;
	border: none;
	height: 5px;
}
.style_2 {
	background-color: #333;
	border: none;
	height: 5px; 
	opacity: 0.1;
	margin: 1em 0;
}

/* OTHER COOL STUFFZ */
::selection {
	background: #252323;
	color: #F5F1ED;
}
::-moz-selection {
	background: #252323;
	color: #F5F1ED;
}








